* { padding: 0px; margin: 0px; list-style: none; text-decoration: none; outline: none; font-weight: normal; box-sizing: border-box; }
body { font-family: Lato, sans-serif !important; color: #696969 }
a { position: relative; color: #15a7d6; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; outline: none; border: none;}
a:before { background: #15a7d6; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; content: ''; position: absolute; left: 0px; right: 0px; margin: auto; height: 2px; width: 0px; bottom: 0px; }
.border-none-btn:before{ content:normal}
a:hover:before { width: 100%; }
a:hover { color: #15a7d6; text-decoration: none; outline: none; border: none;}
p { margin-bottom: 25px }
section{ float:left; width:100%; padding:40px 0}
.padding-left { padding-left: 40px; }
.padding-right { padding-right: 40px; }
.padding-top { padding-top: 30px; }
.padding-bottom { padding-bottom: 30px; }
h1, h2, h3, h4, h5 { margin: 0px 0 25px 0; font-family: Lato, sans-serif !important; }
h2 { width: 100%; display: table; text-align: center; padding: 0px 0px; color: #323232; font-size: 36px; margin-bottom: 25px; text-transform: uppercase; }
h2 em { color: #5ed102; font-style: normal; }
img { max-width: 100%; height: auto }
.dft-btn { outline: none !important; border: none; cursor: pointer; color: white; padding: 10px 24px; border-radius: 2px; font-size: 17px; background: #15a7d6; position: relative; }
.dft-btn:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .5); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
.default-select-box { width: 100%; }
 @keyframes ripple { 0% {
 transform: scale(0, 0);
 opacity: 1;
}
 20% {
 transform: scale(15, 15);
 opacity: 1;
}
 100% {
 opacity: 0;
 transform: scale(30, 30);
}
}
.dft-btn:focus:after, .dft-btn:hover:after { animation: ripple 1s ease-out; }
/***Header Section***/
header { width: 100%; float: left; }
.hdr-top { padding: 4px 0 2px 0; border-bottom: #e5e5e5 1px solid; width: 100%; }
.hdrcont-info { margin-top: 3px; }
.hdrcont-info a { border-left: #ccc 1px solid; padding-left: 10px; margin-right: 15px; color: #323232; font-size: 14px; }
.hdrcont-info a:before{content:normal;}
.hdrcont-info a:first-child { border-left: none; padding-left: 0px; }
.hdrcont-info a span { font-size: 12px; margin-right: 8px; }
.hdrcont-info a:hover { color: #15a7d6; }
.hdr-social a { color: #fff; text-align: center; line-height: 22px; width: 22px; height: 22px; float: left; margin-left: 8px; }
.hdr-social a:before{content:normal;}
.hdr-social .fb-icon { background: #3B5998; line-height: 24px; }
.hdr-social .tw-icon { background: #55ACEE; line-height: 24px; }
.hdr-social .lkd-icon { background: #007bb5 }
.hdr-social a:hover { opacity: 0.85 }
.logo-menu-scn { padding:0px; float: left; width: 100%; }
.logo { margin-left: 0px !important; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; width: 200px; margin: 15px 0 0px 0; }
.logo:before { content: normal }
a.navbar-brand { padding: 0 }
.navbar-inverse { background: #34363d;border-bottom: 0px; padding: 0px; margin: 0px; }
body .navbar-collapse { padding: 0px; margin-top: 10px; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { background: none; }
.navbar-nav>li { padding: 0px; margin:0 20px 0 12px }
.navbar-inverse .navbar-nav>li>a { color: #fff; }
.navbar-nav>li>a { font-size: 14px; padding: 16px 0px 23px 0px; font-weight: 400; }
.navbar-nav>li>a:before { content: ''; position: absolute; left: 0px; right: 0px; height: 3px; width: 0px; background: #5ed102; bottom: 0px; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; margin: auto; }
.navbar-nav>li:hover>a:before, .navbar-nav>li.active>a:before { width: 100%; }
.navbar-right .dropdown-menu { top:99%; left: 0px; width: 220px;}
.navbar-nav>li>.dropdown-menu li{ border-top: #ccc 0px solid; padding: 15px 0 0px 0; }
.navbar-nav>li>.dropdown-menu li:last-child{padding-bottom: 15px;}
.navbar-nav>li.solution-dropdown .dropdown-menu{width:550px;}
.navbar-nav>li.solution-dropdown .dropdown-menu li{ width:50%; float:left; padding:0px; border:none;text-transform: uppercase;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul{ width: 98%;border-right: 1px solid #ccc;height: 215px;padding-top: 10px;}
.navbar-nav>li.solution-dropdown .dropdown-menu li:nth-child(2n+2) ul{ float:right; width:100%}
.last-child-bdr-none{border-right: 0px !important;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul li{ border-top:#ccc 0px solid; padding:0; width:100%; float:left; clear:both;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul li a span{ margin-right:7px;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul li a:hover{color: #5ed102;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul li:first-child{ border-top:none;}
.navbar-nav>li.solution-dropdown .dropdown-menu li ul li a{ color: #333; padding:10px 15px !important; float:left; width:100%;}
.navbar-nav > li.solution-dropdown .dropdown-menu li ul li a i{margin-right: 8px;}
.navbar-nav>li>.dropdown-menu li:first-child { border-top: none; }
.navbar { -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; border-radius: 0px; }
.body-fix { padding-top: 69px; }
.navbar-nav>li ul li a:before { content: normal; }
.body-fix .navbar { z-index: 999; float: left; position: fixed; top: 0px; width: 100%; }
.body-fix .logo { margin: 10px 0 5px 0; width: 140px; }
.body-fix .navbar-collapse { -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; margin-top: 2px; }
.body-fix .navbar-nav>li>a { padding-bottom: 15px; }
.banner-section-top-margin { position: relative; width: 100%; float: left; }
.navbar-inverse .navbar-nav>li.request-demo-btn { margin-right: 0px; margin-top: 4px; }
.navbar-inverse .navbar-nav>li.request-demo-btn>a {border-radius: 0px; padding: 10px 25px; background: #15a7d6; }
.navbar-inverse .navbar-nav>li.request-demo-btn>a:before { content: normal; }
.navbar-nav>li.dropdown .fa-angle-down{ position:absolute; right:-15px; top:19px;}

#main-slider { padding:0px; position: relative; }
.banner-info{ position:relative; z-index:999; display:table; margin:auto;}
.banner-info .col-sm-6{ width:100%;}
#main-slider .carousel .carousel-content { margin-top: 0px; text-align: center; }
.home-page-photo-gallery { margin-bottom: 30px; }
#main-slider .carousel .slide-margin { margin:auto; left:0px; right:0px; margin-top: 0px; position: absolute; top: 66px; color: #f4f4f4; width: 100%; }
#main-slider .carousel h3{ font-size: 26px; line-height: 36px; font-weight: 400; width: 72%; margin: 0 auto; display: table; padding-bottom: 10px; color: #fff; text-shadow: 1px 1px #000; }
#main-slider .carousel .btn-slide{ padding: 13px 28px 14px 28px;background: #15a7d6; color: #fff; border-radius: 0px; margin-top: 14px; display: inline-block; margin-bottom: 18px; margin-left: 20px; font-size: 19px; padding-bottom: 8px; line-height: 22px; height: 48px; }
.banner-btn-green{background: #5ed102 !important; outline: none;}
#main-slider .carousel .btn-slide:nth-child(3){ margin-left:0px;}
#main-slider .carousel .btn-slide:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .5); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
#main-slider .carousel .btn-slide:focus:after, #main-slider .carousel .btn-slide:hover:after { animation: ripple 1s ease-out; }
#main-slider .carousel .btn-slide:hover { background: #5ed102; }
#main-slider .carousel .btn-slide:before { content: normal; }
#main-slider .carousel .slider-img { text-align: right; position: absolute; }
.carousel-content h1 { text-transform: uppercase; font-weight: 700; font-size: 40px; margin-bottom: 15px;}
#main-slider .carousel .item { background-position: 50%; background-repeat: no-repeat; background-size: cover; left: 0 !important; opacity: 0; top: 0; position: absolute; width: 100%; display: block !important; height: 370px; -webkit-transition: opacity ease-in-out 500ms; -moz-transition: opacity ease-in-out 500ms; -o-transition: opacity ease-in-out 500ms; transition: opacity ease-in-out 500ms; }
#main-slider .carousel .item:first-child { top: auto; position: relative; }
#main-slider .carousel .item.active { opacity: 1; -webkit-transition: opacity ease-in-out 500ms; -moz-transition: opacity ease-in-out 500ms; -o-transition: opacity ease-in-out 500ms; transition: opacity ease-in-out 500ms; z-index: 1; }
#main-slider .prev, #main-slider .next { position: absolute; top: 50%; background-color: #ffffff1a; color: #000; display: inline-block; margin-top: -25px; height: 40px; line-height: 40px; width: 40px; line-height: 40px; text-align: center; border-radius: 4px; z-index: 100; }
#main-slider .prev:hover, #main-slider .next:hover { background-color: #fffc; color: #272727; }
#main-slider .next:before { content: normal; }
#main-slider .prev:before { content: normal; }
#main-slider .prev { left: 10px; }
#main-slider .next { right: 10px; }
#main-slider .carousel-indicators li{ width: 16px; height: 16px; background-color: #fff; margin: 0 10px 0 0; position: relative; }
#main-slider .carousel-indicators li.active { background-color: #45b8d5; border: 1px solid #45b8d5;}
#main-slider .active .animation.animated-item-1 { -webkit-animation: fadeInUp 300ms linear 300ms both; -moz-animation: fadeInUp 300ms linear 300ms both; -o-animation: fadeInUp 300ms linear 300ms both; -ms-animation: fadeInUp 300ms linear 300ms both; animation: fadeInUp 300ms linear 300ms both; text-shadow: 1px 1px #000; }
#main-slider .animation.animated-item-1 em { font-style: normal; font-weight: 700; color: #5ed102; }
#main-slider .active .animation.animated-item-2 { -webkit-animation: fadeInUp 300ms linear 600ms both; -moz-animation: fadeInUp 300ms linear 600ms both; -o-animation: fadeInUp 300ms linear 600ms both; -ms-animation: fadeInUp 300ms linear 600ms both; animation: fadeInUp 300ms linear 600ms both; }
#main-slider .active .animation.animated-item-3 { -webkit-animation: fadeInUp 300ms linear 900ms both; -moz-animation: fadeInUp 300ms linear 900ms both; -o-animation: fadeInUp 300ms linear 900ms both; -ms-animation: fadeInUp 300ms linear 900ms both; animation: fadeInUp 300ms linear 900ms both; }
#main-slider .active .animation.animated-item-4 { -webkit-animation: fadeInUp 300ms linear 1200ms both; -moz-animation: fadeInUp 300ms linear 1200ms both; -o-animation: fadeInUp 300ms linear 1200ms both; -ms-animation: fadeInUp 300ms linear 1200ms both; animation: fadeInUp 300ms linear 1200ms both; }
/***Middle Section ***/
.mid-cont-main { width: 100%; float: left }
.about-info-main { float: left; width: 100%; }
.about-info-main em { color: #5ed102; font-style: normal; }
.about-info-main .col-md-6 { padding: 0px; }
.about-scn {
  background: #f0f0f0;
  /* background:url("../images/slider/home-banner-btm-section-img.jpg");text-align: center;color: #fff;position: relative; */
}
/* .home-banner-btm-promise-section-icon{position: absolute;top: -32px; left: 0px;right: 0px; z-index: 99;} */
.about-scn .dft-btn { border-radius:0px; margin-top: 25px;float: left; }
.about-scn .dft-btn:hover{ background: #5ed102; color:#fff;}
.about-scn h3 em { color: #15a7d6; font-style: normal; font-weight: 700;}
.about-scn h3 { text-align: left; color: #353535; font-size: 29px; margin-bottom: 0px; width: 100%; text-transform: uppercase;font-weight: 700;text-shadow: 1px 1px #f8f8f8;}
.about-scn .rt-button { margin-top: 0px; }
.about-scn p { font-size: 16px; text-align: justify; line-height: 24px; margin-bottom: 14px; }
#services {
  /* background-attachment: fixed;
  background: #000 url(../images/slider/sub-bg1.jpg);
  background-size: cover; */
  background: #f3f3f3;
}
.software-item { margin-top: 15px; margin-bottom:15px; }
.software-item-btm-mar-none{margin-bottom: 0px !important;}
.software-item h3 { margin-bottom: 15px;text-transform: uppercase;}
.software-item h4 {margin-bottom: 10px;font-weight: 700;}
.software-inner { position: relative; text-align: center; padding: 5px 15px 0px 15px; float: left; width: 99.8%; margin-left: 0px; margin-right: 0px; border: #dedede 1px solid; min-height:320px; }
.software-inner p { font-size: 17px; line-height: 24px; }
.software-inner a:before { content: normal }
.ftr-icon { position: relative; width: 80px; margin: auto; overflow: hidden; margin-bottom: 10px; padding: 10px; height: 80px; display: block; }
.ftr-icon img { position: absolute; width: 100%; bottom: 0px; left: 0px; right: 0px; }
.readmore-btn { opacity: 1; border-radius: 0px; border: #dedede 1px solid; font-size: 16px; padding: 8px 20px; }
.software-inner:hover .readmore-btn { position: relative; opacity: 1;  color: #fff;}
.software-inner:hover .readmore-btn { border: 1px solid #5ed102;}
.software-inner .readmore-btn:after { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #5ed102; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.software-inner:hover .readmore-btn:after { -webkit-transform: scaleY(1); transform: scaleY(1); }
.ftr-hover-icon { display: none; }
.software-inner:hover .ftr-dft-icon { display: none; }
.software-inner:hover .ftr-hover-icon { display: block }
/**Popup CSS**/
.body-popup { overflow: hidden; }
.request-demo { max-width: 670px; padding: 20px 20px 0px 20px; text-align: center; width: 100%; z-index: 9999; display: none; background: #fff; border: #ccc 2px solid; position: fixed; top: 50%; left: 0px; right: 0px; margin: auto; transform: translateY(-50%) }
.request-demo textarea { height: 100px; }
.request-demo h2 { color: #000; }
.request-demo h2 span { color: #5ed102; }
.request-demo label { text-align: left; display: table; margin-bottom: 0px; font-size: 13px; color: #333; }
.request-demo label span { color: #F00 !important; }
.rqst-close { cursor: pointer; border-radius: 100px; background: #fff; color: #000; line-height: 25px; width: 30px; height: 30px; position: absolute; right: -15px; top: -15px; border: 2px solid #ccc; font-size: 15px; font-weight: 600; }
.rqst-close:hover { color: #F00; }
.rqt-demo-overfloy { display: none; position: fixed; top: 0px; background: rgba(0,0,0, 0.85); left: 0px; z-index: 9999; width: 100%; float: left; height: 100%; }
/***********************
********* Footer ******
************************/
#bottom { background: #4a4a4a; font-size: 14px; }
#bottom h3 { margin-top: 0; margin-bottom: 10px; text-transform: uppercase; font-size: 22px; color: #000; }
#bottom ul { list-style: none; padding: 0; margin: 0; }
#bottom ul li { display: block; padding: 5px 0; }
#bottom ul li a { color: #808080; }
#bottom ul li a:hover { color: #45b8d5; }
#bottom .widget { margin-bottom: 0; }
/**#footer {float: left; width: 100%;}
#footer a { color: #fff; }
#footer ul { list-style: none; padding: 0; margin: 0; }
#footer ul > li { display: inline-block; margin-left: 15px; }*/
.col-50 { width: 50%; float: left; }
.navbar-nav .dropdown .dropdown-menu>li>a { padding: 3px 15px !important;text-transform: uppercase; }
.navbar-nav .dropdown .dropdown-menu>li>a i{margin-right: 6px;}
.navbar-nav .dropdown .dropdown-menu>li>a span { margin-right: 6px; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #5ed102; }
.view-more-bx-btn { text-align: center; margin: 0 auto; }
.view-more-bx-btn .dft-btn { outline: none !important; border: none; cursor: pointer; color: white; padding: 12px 30px; border-radius: 0px; font-size: 17px; background: #15a7d6; position: relative; }
.view-more-bx-btn .dft-btn:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .5); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
.view-more-bx-btn .dft-btn:before { content: normal; }
.view-more-bx-btn .dft-btn:hover { background: #5ed102; }
.banner-section-top-margin .carousel-indicators { z-index: 99; bottom:38px; }
.client-section-box { display: table; width: 100%; background: #fff; }
.our-client-panel { width: 1170px; margin: 0 auto; display: table; }
.client-box-left-img { width: 115px; position: absolute; top: -60px; left: 50%; transform: translatex(-50%); }
.client-box-left-img strong { width: 100%; height: 100%; }
.client-box-left-img strong img { border-radius: 50%; border: 2px solid #ccc; }
.client-box-left-img span { width: 100%; text-align: center; display: table; font-size: 16px; padding-top: 3px; color: #15a7d6; }
.client-box-right-details { width: 100%; float: left; border: 2px solid #ccc; padding: 90px 20px 10px 20px; border-radius: 5px; background: #f8f8f8; position: relative; margin-top: 55px; margin-top: 55px; text-align: center; }
.client-box-right-details:after { content: ""; position: absolute; top: 0px; left: 0px; z-index: 999; }
.client-box-right-details h3 { font-size: 17px; line-height: 24px; color: #272727; margin-bottom: 10px; }
.client-box-right-details h4 { color: #a4a4a4; font-size: 15px; margin-bottom: 10px; }
.client-box-right-details p { font-size: 15px; margin-bottom: 10px; }
.services-container-box { width: 1170px; margin: 0 auto; display: table; }
.services-container-box h2{color:#333; margin-bottom: 45px;line-height: 28px;text-shadow: 1px 1px #fff;}
.service-item em { width: 100%; margin: 0 auto;text-align: center; margin-bottom: 50px; }
.service-item em img { width: 260px; }
.service-item ul { margin: 0px; padding: 0px; }
.service-item ul li { list-style: none; float: left; width: 16.6%; text-align: center; }
.service-item ul li i{
  border: 1px solid #dadada;
display: table;
padding: 0;
margin: 0 auto;
background: #fff;
width: 140px;
border-radius: 50%;
height: 140px;
line-height: 140px;
}
.service-item ul li span { width: 100%; padding: 23px 0 0px 0; color: #333; font-size: 15px; float: left;}
.ftr-top-scn {
  padding-bottom: 0px;
font-size: 16px;
color: #fff;
background-clip: border-box;
background: #34363d url(../images/footer-scratch-img.png) bottom left;
    background-repeat: repeat;
background-repeat: no-repeat;
}
.ftr-top-scn .container { padding-left: 0px; padding-right: 0px; }
.ftr-top-scn h3 { position: relative; margin-bottom: 30px; color: #5ed102; font-family: 'latobold'; font-size: 20px; text-align: left; }
/* .ftr-top-scn h3:after { content: ''; position: absolute; bottom: -5px; left: 0px; right: 0px; width: 50px; height: 2px; background: #5ed102; } */
.ftr-about a { clear: left; margin-bottom: 10px; float: left; }
.ftr-top-scn a { color: #f2f2f2; }
.footer-logo { float: left; width: 100%; }
.footer-logo a:before { content: normal; }
.ftr-logo { width: 100%; float: left; }
.ftr-top-scn p { font-size: 14px; margin-bottom: 10px; }
.ftr-top-scn ul li:first-child { border-top: none; padding-top: 0px; }
.ftr-top-scn ul li { font-size: 15px; border-top: #42444a 1px solid; width: 95%; padding: 6px 0; float: left; }
.ftr-top-scn ul li a { position: relative; padding-left: 0px; }
/*.ftr-top-scn ul li a:before {
    content: '';
    left: 0px;
    top: 5px;
    width: 7px;
    height: 8px;
    float: left;
    background: url(../images/footer-sprite.png) no-repeat;
    background-position: -66px -4px;
    position: absolute;
}*/
.ftr-scl-mda a { width: 34px; height: 34px; border: #fff 1px solid; float: left; margin-right: 15px; margin-top: 10px; border-radius: 100px; position: relative; }
.ftr-scl-mda a.fb-icon:before { width: 9px; }
.ftr-scl-mda a:before { content: ''; background: url(../images/social-m-icons.png) no-repeat; height: 16px; position: absolute; left: 0px; right: 0px; margin: auto; bottom: 0px; top: 0px; float: left; }
.ftr-scl-mda a.tw-icon:before { width: 17px; background-position: -20px 0px; }
.ftr-scl-mda a.lkd-icon:before { width: 15px; background-position: -49px 0px; }
.ftr-scl-mda a:hover { border: #5ed102 1px solid; }
.ftr-scl-mda a.fb-icon:hover:before { background-position: 0px -20px; }
.ftr-scl-mda a.tw-icon:hover:before { background-position: -20px -20px; }
.ftr-scl-mda a.lkd-icon:hover:before { background-position: -49px -20px; }
.footer-copyright-text { width: 100%; display: table; font-size: 14px; text-align: center; background:transparent; padding: 10px 0px; margin-top: 28px; color: #fff;}
.footer-subscribe-bx { width: 100%; margin: 30px 0 0 0; float: left; }
.footer-subscribe-bx input { width: 100%; display: table; padding: 8px 10px; color: #333; background: #fff; border-radius: 0px; font-size: 16px; border: 1px solid #fff; text-align: center }
.subscribe-bx-btn { text-align: center; margin: 9px auto; width: 100%; float: left; }
.subscribe-bx-btn .dft-btn { outline: none !important; border: none; cursor: pointer; color: white; padding: 10px 30px; border-radius: 0px; font-size: 17px; background: #15a7d6; position: relative; width: 100%; float: left; }
.subscribe-bx-btn .dft-btn:after { content: ''; position: absolute; top: 50%; left: 50%; width: 5px; height: 5px; background: rgba(255, 255, 255, .5); opacity: 0; border-radius: 100%; transform: scale(1, 1) translate(-50%); transform-origin: 50% 50%; }
.subscribe-bx-btn .dft-btn:before { content: normal; }
.subscribe-bx-btn .dft-btn:hover { background: #5ed102; }
.connect-withus-text { font-size: 16px !important; margin-bottom: 7px !important; }
.testimonial { margin: 0 auto; text-align: center; position: relative; width:100%; display: table; }
.testimonial-left { position: relative; width: 74%; margin-left: 5%; float: left; text-align: left; }
.testimonial-pic { width: 20%; float: right; text-align: right; }
.testimonial-pic .pic { display: inline-block; width: 140px; height: 140px; border-radius: 50%; margin-bottom: 8px; }
.testimonial-pic .pic img { width: 100%; height: auto; border-radius: 50%; border: 2px solid #ccc; }

.testimonial .description { padding: 12px 0px; margin-bottom: 12px; font-size: 17px; color: #505050; line-height: 27px; position: relative; font-weight: 400 }
.testimonial-left i{ position: absolute; top: 0px; font-size: 40px;color: #bdbdbd; padding-right: 2px;}
.testimonial-left i.fa-quote-left{left:-55px;}
.testimonial-left i.fa-quote-right{right:-40px;}
/*.testimonial .description a{font-weight: 600;}*/
.testimonial .title { display: block; font-size: 16px; color: #15a7d6; letter-spacing: 1px; margin: 0 0 7px 0; font-style: italic;position: relative;}
.testimonial .title .name-arrow{ display: none;
  position: absolute;
    top: -13px;
    left: 20px;
    z-index: 999;

}
.testimonial .post { display: block; font-size: 16px; color: #8f8f8f; text-transform: capitalize; font-style: italic; }
.testimonial .owl-theme .owl-controls { margin-top: 0; }
.testimonial  .owl-theme .owl-controls .owl-page span { width: 35px; height: 15px; background: #553e4e; border-radius: 0; opacity: 0.8;transition: all 0.3s ease 0s; margin: 5px 5px !important;}
.testimonial .owl-theme .owl-controls .owl-page.active span { width: 12px; height: 12px; border-radius: 50%; background: #15a7d6;margin: 5px 5px; }
.owl-carousel .owl-nav{pointer-events: none; margin-top: 0px; position: absolute; width: 100%; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev{position: relative; pointer-events: visible; font-size: 0px; background: url(../images/img-gallery-left-arrow.png) no-repeat; background-size: 100% 100%; width: 24px; height:50px; left:-55px; float: left;margin: 0px;padding: 0px;}
.owl-carousel .owl-nav button.owl-next{position: relative; pointer-events: visible; font-size: 0px; background: url(../images/img-gallery-rightt-arrow.png) no-repeat; background-size: 100% 100%; width: 24px; height:50px; right:-55px; float: right;margin: 0px; padding: 0px;}

.industries-item{ position: relative; border: #fff 1px solid; width: 100%; float: left; background: #fff;box-shadow: #bdbdbdcc 0px 3px 5px 0px;}
.industries-item:hover{border: #15a7d6 1px solid;transition: all 0.3s ease 0s;}
.industries-cont{ padding: 15px 15px 35px 15px; width: 100%; float: left;}
.industries-cont h3{font-size: 20px; margin-bottom: 15px; color:#15a7d6}
.industries-cont p{margin-bottom: 6px; font-size: 17px;}

.inst-arrow{ background: #fff; width: 46px; height: 46px; border-radius: 100%; border: #ccc 1px solid; position: absolute; left: 0px; right: 0px; bottom:-23px; margin: auto;}
.industries-item:hover .inst-arrow{ border: #15a7d6 1px solid;}
.inst-arrow:before{content: normal}
.inst-arrow span{ line-height: 41px; display: table; margin:0 auto; text-align: center;}
.inst-arrow span img{width: 80%;}
.industries-img{display: block;}
.industries-img img{ height: 135px;  width: 100%;}

.home-promise-img{padding-top: 30px;}


@media only screen and (max-width: 479px) {
.testimonial .description { padding: 10px; }
}
.industries-scn{ background: #f3f3f3; position:relative;padding-bottom: 65px;}
/* .industries-scn .col-md-3{ padding: 0px; padding-left: 30px;} */
/* .industries-scn .col-md-3:nth-child(4n+1){ clear: left; padding-left: 0px;} */
.industries-scn h2{color:#333;}
.healthcare-tab-bg-img{
  /* background:url("../images/healthcare-bg.jpg") no-repeat;background-size: cover; */
  background: #f3f3f3;
}
.aviation-tab-bg-img{
  /* background:url("../images/aviation-bg.jpg") no-repeat;background-size: cover; */
  background: #f3f3f3;
}
.business-tab-bg-img{
  /* background:url("../images/business-bg.jpg") no-repeat;background-size: cover; */
  background: #f3f3f3;
}
.manufacturing-tab-bg-img{
  /* background:url("../images/manufacturing-bg.jpg") no-repeat;background-size: cover; */
  background: #f3f3f3;
}
.padding-top-visit-btn{padding-top: 5px;}
.c-tab h3{
	width: 100%;
	display: table;
	text-align: center;
	padding: 10px 0px;
	color: #5ed102;
	font-size: 28px;
	text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px #f8f8f8;
}

.client-section-box .container{padding-left:0px; padding-right: 0px;}
.work-with-perfeqta-section{width:100%; float: left;margin-top: 60px;}
.work-with-perfeqta-section article {
  float: left;
  width: 32.2%;
  background: #f3f3f3;
  padding: 20px;
  min-height: 474px;
  margin-left: 1.7%;
  position: relative;
  border: 1px solid #eaeaea;
  position: relative;
}
.work-with-perfeqta-section article ul{margin:0px; padding: 0px;}
.work-with-perfeqta-section article ul li{
	list-style: none;
display: table;
line-height: 21px;
color: #333;
font-size: 17px;
padding: 6px 0 6px 25px;
background: url("../images/bullets.png") no-repeat 0px 10px;
}
.work-with-perfeqta-section article h3{text-align: center;margin-top: 45px;color: #333;margin-bottom: 20px;}
.work-with-perfeqta-section article img{position:absolute; top:-64px; left: 50%; z-index: 99;transform: scale(1, 1) translate(-50%);}
.work-with-perfeqta-section article:first-child {margin-left: 0px;}
.client-section-box h2{line-height:28px;margin-bottom: 40px;}
.our-promise-stamp-img{
  float: left;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 9;
  left: 0px;
  top:40px;
}
.our-promise-stamp-img img{width: 100%; height: auto;opacity: 0.7;}
.our-promise-stamp-img-right{
  float: left;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 9;
  right: 0px;
  top:40px;
}
.our-promise-stamp-img-right img{width: 100%; height: auto;opacity: 0.7;}

.our-promise-stamp-img-right-request {
    float: left;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 9;
    right: 64px;
    top: 93px;
}
.our-promise-stamp-img-right-request img{width: 100%; height: auto;opacity: 0.9;}
.our-promise-stamp-img-index{
  float: left;
  width: 180px;
  height: 145px;
  position: absolute;
  z-index: 9;
  left: 0px;
  top: 10px;
}
.our-promise-stamp-img-index a:before{content: normal;}
.inner-banner-section a:before{content: normal;}
.our-promise-stamp-img-index img{width: 100%; height: auto;opacity: 0.9;}
/** Inner Pages CSS Start Here **/

.inner-banner-section{width: 100%;background: #181d21;float: left;padding: 40px 0;height: 250px; position: relative;}
.inner-banner-section .container{padding: 0px;}
.inner-banner-section h1{color: #fff; margin: 32px 0 20px 0; text-align: center;text-transform: uppercase;font-weight: 700;font-size: 40px;}
.inner-banner-section h1 em{color: #5ed102; font-style:normal;font-weight: 700;}
.inner-banner-section h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 1px #000;
	text-align: center;
}
.inner-banner-section h3 em{color: #5ed102; font-style:normal;font-weight: 700; text-transform: uppercase;}
.inner-page-industries{width:100%; float: left; background: #f2f2f2; padding: 0px 0px 40px 0px; margin: 0px;}
.inner-page-industries .nav-tabs{border: 0px;width: 1170px;margin: 0 auto;margin-top: 10px;}
.inner-page-industries .nav-tabs > li {
    float: left;
    margin-bottom: 0px;
    width: 25%;
    text-align: center;
    font-size: 17px;
	text-transform: uppercase;

}
.inner-page-industries .nav-tabs > li a{padding: 15px 0px; outline: none; border:0;font-weight: 600;color: #fff;}
.inner-page-industries .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: transparent;
 border: 0px;
color: #333;
background: #f5f5f5;
border-radius: 4px 4px 0 0;
}
.inner-page-industries .nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #f2f2f2;color: #333;}
.inner-page-industries .nav-tabs > li a.active:before{content: normal;}
.inner-page-industries .tab-content{margin-top: 40px;float: left;width: 100%;}
.benefits-tab-li{width:100%; float: left; background: #5ed102;padding: 0px 0px; }
.inner-page-industries .container{padding: 0px;}
.inner-page-industries .tab-content h3{color: #333;}
.inner-page-industries .tab-content ul{margin:0px; padding: 0px;}
.inner-page-industries .tab-content ul li{
	list-style: none;
display: table;
line-height: 21px;
color: #333;
font-size: 17px;
padding: 8px 0 8px 25px;
background: url("../images/bullets.png") no-repeat 0px 11px;
}
.inner-page-industries .tab-content ul li:last-child{padding-bottom: 0px;}
.inner-page-industries .tab-content a{ margin-top: 20px; border-radius: 0px; display: table;}
.inner-page-industries .tab-content a:hover{color: #fff;background: #5ed102;}
.inner-page-industries .tab-content .benefitsimg{border-radius: 3px;}
.inner-page-why-choose-section {
    width: 100%;
    float: left;
    background: #f2f2f2;
    padding: 40px 0px;
    margin: 0px;
}
.inner-page-why-choose-section .software-inner {
    padding: 5px 13px 0px 13px !important;
    min-height: 342px !important;
}
.our-promise-box{width:100%; float: left;}
.our-promise-box .container{padding:0px;}
.our-promise-box .promise-bx-left{width:15%; float: left;}
.our-promise-box .promise-bx-left img{border-radius: 50%;width: 130px;}
.our-promise-box .promise-bx-right{width:85%; float: left;font-size: 28px;padding-top: 25px;}
.our-promise-box .partner-text-left-mar-top{margin-top: 26px !important;}
.our-promise-box .promise-bx-right em{color: #5ed102; font-style:normal;}
.our-promise-box .promise-bx-right i{color: #cfcfcf;}
.fast-promise-test-padi{text-align: right;padding-right: 0px;padding-top: 45px !important;}
.border-btm-promise{border-bottom: 1px solid #dedede;padding-bottom: 15px;margin-bottom: 15px;width: 100%;float: left;}
.promise-btm-highlight-bx{width:100%; background: #1b1b1b; float: left;}
.promise-btm-highlight-bx .container{padding: 0px;}
.promise-btm-highlight-bx .container p{margin: 0px; font-size: 32px; color: #fff; text-align: center;text-transform: uppercase;}
.promise-btm-highlight-bx .container p em{color: #5ed102; font-style:normal;}
.promise-btm-highlight-bx .container .quote-left{color: #ccc;font-size: 41px;margin-top: -10px;float: left;}
.promise-btm-highlight-bx .container .quote-right{color: #ccc;font-size: 41px;margin-top: -10px;float: right;}

.banner-wow-popup{position: fixed;
    top: 130px;
    right: 20px;
    z-index: 999;
    background: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: 18px;
}

.inner-page-form-bottom-bx {
    width: 100%;
    float: left;
    background: #e2e2e2;
    margin: 0px;
}
.inner-page-form-bottom-bx h2{margin-bottom: 35px;text-shadow: 1px 1px #f6f6f6;}
.inner-page-form-bottom-bx h2 em{font-style:normal;color:#5ed102;}
.inner-page-form-bottom-bx p{font-size:20px; padding-bottom:25px;margin: 0px; color: #4c4c4c;}
.inner-page-form-bottom-bx .container{padding:0px;}
.inner-bottom-form-left-side{width:90%; float:left;}
.inner-bottom-form-left-side textarea{height:115px; resize:none;border-radius: 0px; padding: 15px 15px; border:0px solid #fff;}
.inner-bottom-form-left-side input{border-radius: 0px; padding: 20px 15px; border: 0px solid #fff;}
.inner-bottom-form-left-side .btm-form-request-demo-btn{border-radius:100px; background:#15a7d6; padding:12px 40px; float:left; border:0px; text-align:center;font-size:18px; color:#fff; cursor:pointer; text-transform:uppercase;}
.inner-bottom-form-left-side .btm-form-request-demo-btn:hover{background:#5ed102;}
.faq-tab-section .nav-tabs > li > a{font-size: 17px; outline: none;padding: 12px 20px;}
/* .faq-page-cont-bx .nav-tabs > li.active > a, .faq-page-cont-bx .nav-tabs > li.active > a:hover, .faq-page-cont-bx .nav-tabs > li.active > a:focus {
    color: #333;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0px 0px;
	border: 1px solid #ccc;
    border-bottom: 0px;
} */
.faq-page-cont-bx .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
    background: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom-color: transparent;
}
/* .faq-page-cont-bx .nav-tabs > li.active > a, .faq-page-cont-bx .nav-tabs > li.active > a:hover, .faq-page-cont-bx .nav-tabs > li.active > a:focus{
  color: #333;
 cursor: default;
 background-color: #fff;
 border: 0;
 border-bottom-color: transparent;
 border-radius: 4px 4px 0px 0px;
 border: 1px solid #ccc;
 border-bottom: 0px;
} */

.pricing-inner-section-bg{background: #f6f6f6 !important;}
.pricing-anual-monthly-bx{width: 100%; float: left;}
.pricing-btm-mar-0px{margin-bottom: 0px !important;}
.pricing-tab-menu{width:350px; margin: 0 auto; display: table;}
.pricing-tab-menu ul{border-bottom: 0px;margin: 0 auto;display: table;}
.pricing-tab-menu ul li{width: 160px;text-align: center;background: #333; font-size: 17px;}
.pricing-tab-menu .nav-tabs > li > a:before{content:normal;}
.pricing-tab-menu .nav-tabs > li > a{border: 0px; color: #fff; outline: none;margin-right: 0px;padding: 12px;}
.pricing-tab-menu .nav-tabs > li > a:hover{border: 0px; color: #fff;background:#5ed102;border-radius: 0px; border: 0px;}
.pricing-tab-menu .nav-tabs > li.active > a, .pricing-tab-menu .nav-tabs > li.active > a:hover, .pricing-tab-menu .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #5ed102;
    border: 0 !important;
    border-bottom-color: transparent;
    border-radius: 0px !important;
}
.inner-page-industries .nav-tabs > li.active > a, .inner-page-industries .nav-tabs > li.active > a:hover, .inner-page-industries .nav-tabs > li.active > a:focus{
    color: #000;
    cursor: default;
    background-color: #f2f2f2;
    border: 0;
    border-bottom-color: transparent;
    border-radius: 0px;
}
.pricing-tab-menu .nav-tabs > li.active:after{
  content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 12px #5ed102;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    transform: translate(-50%)
}
.pricing-anual-monthly-bx  .tab-content{width:100%; float: left;margin-top: 40px;}
.pricing-content-box-color{width:100%; float: left; background: #ececec; padding: 0px; box-sizing: border-box; min-height: 600px; margin-bottom: 30px;}
.pricing-content-box-2{background: #ddd !important;min-height: 180px;border-bottom: 8px solid #f6f6f6;text-align: center; color: #333;padding-top: 40px;}
.pricing-content-box-2 p{font-size: 20px; margin-bottom:0px;font-weight: 600;}
.pricing-content-box-2 strong{width: 100%;
text-align: center;
display: table;
margin-bottom:0px;
font-size: 50px;
}
.pricing-content-box-2 em{
  font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 80px;
}
/* .pricing-content-box-2 em u{
  font-size: 40px;
font-weight: 700;
line-height: 1;
-webkit-transform: translateY(-25px) translateX(5px);
transform: translateY(-25px) translateX(5px);
display: inline-block;
padding-right: 8px;
}
.pricing-content-box-2 em i{font-size: 20px;font-style: normal;line-height: 50px;} */

.pricing-content-box-3{background: #666 !important;min-height: 180px;border-bottom: 8px solid #fff;text-align: center; color: #fff;padding-top: 40px;}
.pricing-content-box-3 p{font-size: 20px; margin-bottom:0px;font-weight: 600;}
.pricing-content-box-3 strong{width: 100%;
text-align: center;
display: table;
margin-bottom:0px;
font-size: 50px;
}
.pricing-content-box-3 em{
  font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 80px;
}
.pricing-content-box-4{background: #5ed102 !important;min-height:180px;border-bottom: 8px solid #fff;text-align: center; color: #fff;padding-top: 40px;}
.pricing-content-box-4 p{font-size: 20px; margin-bottom:0px;font-weight: 600;}
.pricing-content-box-4 strong{width: 100%;
text-align: center;
display: table;
margin-bottom:0px;
font-size: 50px;
}
.pricing-content-box-4 em{
  font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 80px;
}
.pricing-content-box-btm{width:100%; float: left; padding: 20px; color: #333;}
.pricing-content-box-btm span{width: 200px; margin: 0 auto; display: table; margin-bottom: 20px;}
.pricing-content-box-btm span a{
  border: 1px solid #15a7d6; border-radius: 5px; padding: 8px 28px; color: #fff; font-size: 20px; text-align: center;margin: 0 auto; display: table;
  background: #15a7d6;
}
.pricing-content-box-btm span a:hover{background: #5ed102;border: 1px solid #5ed102;}
.pricing-content-box-btm span a:before{ content: normal;}
.pricing-content-box-btm ul li{
	list-style: none;
  display: table;
  line-height: 25px;
  color: #333;
  font-size: 17px;
  padding: 6px 0 6px 28px;
  background: url("../images/bullets.png") no-repeat 0px 11px;
}

.pricing-comparison-table{width:100%; float: left;background-color: #fff;box-shadow: 0 0 30px rgba(0,0,0,.1); padding: 0px;margin-bottom: 30px;}

.Plan-comparison_table-head {
    padding: 0 50px;
    /* box-shadow: 0 0 30px rgba(0,0,0,.1); */
}
.Plan-comparison_table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}
.Plan-comparison_table-cell-name {
    width: 270px;
}
.Plan-comparison_table-cell-feature {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    max-width: 220px;
}
.Plan-comparison_table-cell {
    text-align: center;
}
.Plan-comparison_table-cell-premier {
    color: #cfcfcf;
}
.Plan-comparison_plan-name {
    color: currentColor;
    font-size: 26px;
    margin: 5px 0 0 0;
    /* text-transform: uppercase; */
}
.Plan-comparison_table-body {
    padding: 5px 50px;background: #f8f8f8;border-top: 1px solid #e1e1e1;
}
.Plan-comparison {
    font-family: AvenirNext;
}
.Plan-comparison_table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}
.Plan-comparison_active-feature {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}
.Plan-comparison_table-cell-premier .light-gray-color{
  color: #cfcfcf;
width: 25px;
height: 25px;
background: #cfcfcf;
margin: 0 auto;
border-radius: 50%;
}
.Plan-comparison_table-cell-platform .gray-color{
  color: #666;
width: 25px;
height: 25px;
background: #666;
margin: 0 auto;
border-radius: 50%;
}
.Plan-comparison_table-cell-enterprise .green-color{
  color: #5ed102;
width: 25px;
height: 25px;
background: #5ed102;
margin: 0 auto;
border-radius: 50%;
}
.Plan-comparison_table-cell-platform {
    color: #666;
}
.Plan-comparison_table-cell-enterprise {
    color: #5ed102;
}
.table-row-2{background: #fff !important;}
.table-td-left-align{text-align: left;}
.faq-section-box{width:100%; float: left;}
.faq-section-box .panel-default{border-color: #b9b9b9;}
.faq-section-box .panel-default > .panel-heading + .panel-collapse .panel-body{font-size: 16px;line-height: 24px;}
.faq-section-box .panel-title > a{font-size: 17px;}
.faq-section-box .panel-heading{padding: 11px 15px;}
.panel-default > .panel-heading{background: #2c2c2c;color: #fff;}
.panel-default > .panel-heading .panel-title{text-align: left;}
.faq-section-box .panel-title > a:hover{outline: none; border: none; color: #333;}
.faq-section-box .panel-title > a:before{content:normal;}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.faq-section-box .panel-title > a:not(.collapsed):after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

.pricing-inner-page-btm-black-section{background: #181d21; width:100%;}
.pricing-inner-page-btm-black-section .container{padding: 0px;}
.pricing-inner-page-btm-black-section h2{color: #fff;}
.pricing-inner-page-btm-black-section .speak-with-buttons{margin: 0 auto;display: table;}
.pricing-inner-page-btm-black-section .speak-with-buttons a {
    border-radius: 0px;
    background: #15a7d6;
    padding: 12px 0px;
    float: left;
    border: 0px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    width:265px;
}
.pricing-inner-page-btm-black-section .speak-with-buttons a span{ margin-right: 8px;}
.pricing-inner-page-btm-black-section .speak-with-buttons a:before {content:normal;}
.pricing-inner-page-btm-black-section .speak-with-buttons a:hover { background:#5ed102;}
.requestdemo-button-pricing{background: #5ed102 !important;}
.requestdemo-button-pricing:hover{background: #15a7d6 !important;}
.request-a-demo-page-bg-color{background: #fff !important;}
.request-a-demo-page-bg-color input{border: 1px solid #ccc;box-shadow: none !important;}
.request-a-demo-page-bg-color textarea{border: 1px solid #ccc;box-shadow: none !important;}
.request-a-demo-page-bg-color p{font-size: 17px;padding-bottom: 15px;text-align: justify;}
.request-a-demo-page-bg-color p em{font-style:normal;color:#5ed102;}
.request-a-demo-page-bg-color .inner-bottom-form-left-side{width:100% !important}

.aviation-content-box{
width: 100%;
float: left;
border: 1px solid #ececec;
padding: 15px;
border-radius: 4px;
min-height: 620px;
}
.aviation-content-box:hover{ border: 1px solid #5ed102;}
.aviation-content-box .aviation-content-bx-left{width:100%; float: left;}
.aviation-content-box .aviation-content-bx-left img{
  border-radius: 100px;
border: 2px solid #ccc;
width: 120px;
margin: 0 auto;
display: table;
}
.aviation-content-box .aviation-content-bx-right{width:100%; float: left;}
.aviation-content-box .container{padding: 0px;}
.aviation-content-box .aviation-content-bx-right h3{
  margin: 0px;
  padding-top: 10px;
font-size: 20px;
color: #323232;
text-align: center;
text-transform: uppercase;
min-height: 55px;
}
.aviation-content-box .aviation-content-bx-right .min-height-business{min-height: 36px !important;}
.aviation-content-box .aviation-content-bx-right a{
  margin: 0 auto;
display: table;
border-radius: 0px;
padding: 9px 0px;
position: absolute;
bottom: 15px;
left: 50%;
transform: translate(-50%) !important;
background: transparent;
border: 1px solid #e4e4e4;
color: #333;
width:140px;
text-align: center;
}
.aviation-content-box .aviation-content-bx-right a:hover{color: #fff;background: #15a7d6;border: 1px solid #15a7d6;}
.aviation-content-box ul{width:100%; float: left; margin-top: 10px;}
.aviation-content-box ul li{
	list-style: none;
  display: table;
  line-height: 25px;
  color: #333;
  font-size: 17px;
  padding: 6px 0 6px 28px;
  background: url("../images/bullets.png") no-repeat 0px 11px;
}
.aviation-content-box ul li em{font-style:normal;color:#5ed102;}
.put-perfeqta-to-test-btn{
  margin: 0 auto;
    margin-top: 0px;
display: table;
margin-top: 30px;
border-radius: 0px;
}
.put-perfeqta-to-test-btn:hover{color: #fff;}
.aviation-form-introduction-section{ width: 100%; float: left;}
.aviation-form-introduction-section h2{color: #fff;margin-bottom: 15px;}
.aviation-form-introduction-section p{font-size: 20px !important;color: #7e7e7e !important;}
.inner-lightgray-section{background: #f2f2f2;}
.inner-lightgray-section .container{padding: 0px;}
.inner-contact-banner-section{background:url("../images/slider/inner-page-contact-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-faq-banner-section{background:url("../images/slider/inner-page-faq-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-blog-banner-section{background:url("../images/slider/inner-page-blog-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-case-study-banner-section{background:url("../images/slider/inner-page-case-studyimg.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-aboutus-banner-section{background:url("../images/slider/inner-page-aboutus-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-aviation-banner-section{background:url("../images/slider/inner-page-aviation-audit-compalier--img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-aviation-main-page-banner-section{background:url("../images/slider/inner-page-aviation-main-page-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-aviation-qms-business-banner-section{background:url("../images/slider/inner-page-aqulity-management-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-aviation-aircraft-banner-section{background:url("../images/slider/inner-page-aviation-aircraft-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-business-reporting-banner-section{background:url("../images/slider/inner-page-business-reporting-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-business-main-banner-section{background:url("../images/slider/inner-page-business-main-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-healthcare-main-banner-section{background:url("../images/slider/bg2.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.inner-manufacturing-automation-main-banner-section{background:url("../images/slider/inner-page-automation-manufacturing--img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.features-benefit-banner-image{background:url("../images/slider/features-benefit-banner-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.pricing-banner-image{background:url("../images/slider/pricing-banner-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.our-promise-banner-image{background:url("../images/slider/our-promise-banner.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.seamless-integration-banner-image{background:url("../images/slider/inner-page-seamless-integration--img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.features-benefits-configurable-banner{background:url("../images/slider/inner-page-features-benefits-configurable-by-you--img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}
.client-support-banner{background:url("../images/slider/client-support-banner-img.jpg") no-repeat;background-size: cover;min-height: 260px;text-align: center;color: #fff;}


.seamless-automation-page-darkgray-bx{
  background: #f8f8f8 !important;
margin-left: 25px;
width: 97%;
float: left;
border-radius: 4px;
text-align: center !important;
font-size: 20px !important;
padding: 12px !important;
margin-bottom: 10px !important;
color: #15a7d6 !important;
border: 1px solid #ececec;
}
.seamless-automation-page-darkgray-bx span{display: table;padding-top: 10px;text-align: center !important;width: 100%;color: #333 !important;}
.request-a-demo-rt-text-top-mar{margin-top: -6px !important;}
.request-page-rt-text-btn{width:100%; float: left; margin-top: 10px;}
.request-page-rt-text-btn a{
  background: #15a7d6;
  border: 1px solid #0a95c3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 18px;
}
.request-page-rt-text-btn a:before{content:normal;}
.request-page-rt-text-btn a:hover{background: #5ed102;border: 1px solid #56b907;color: #fff;}
.request-page-rt-text-btn a span{padding-right: 5px;}
.put-our-promise-btn{text-align: center;margin-top: 40px;display: table;}
.put-our-promise-btn a{border-radius: 0px !important;padding: 10px 35px !important;}

.aviation-form-introduction-section .form-graphic-container {
    position: relative;
    max-width: 538px;
    margin: 0 auto;
}
.aviation-form-introduction-section .columns {
    padding-right: 0;
    padding-left: 0;
}
.aviation-form-introduction-section .form-graphic {
    text-align: center;
}
.aviation-form-introduction-section .large-6 {
    width: 50%;float: left;
}
.aviation-form-introduction-section .small-6 {
    width: 50%; float: left;padding-top: 35px;
}
.aviation-form-introduction-section .form-graphic-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px !important;
}
.aviation-form-introduction-section .form-graphic-heading img{width:17px;}
.aviation-form-introduction-section hr {
    margin-top: 0;
    border-color: #616161;
}
.aviation-form-introduction-section .form-graphic-pricing {
    font-size: 1.7em;
}
.aviation-form-introduction-section .form-graphic-medium-gray {
    color: #616161;
}
.aviation-form-introduction-section .form-graphic-border-bottom {
    border-bottom: 1px solid #616161;
    padding: 8px;
}
.aviation-form-introduction-section .form-graphic-bold {
    font-weight: 700;
}
.aviation-form-introduction-section .green {
    color: #5ed102;
}
.aviation-form-introduction-section .form-graphic-number-forms {
    position: absolute;
    bottom: 0;
    left: 46%;
    text-align: center;
    text-transform: uppercase;
}
.aviation-form-introduction-section .form-graphic-medium-gray {
    color: #616161;
}
.aviation-form-introduction-section .form-graphic-blurbs {
    text-align: center;
    color: #b2b2b2;
    font-weight: 700;
    max-width: 538px;
    margin: 0 auto;
}
.aviation-form-introduction-section .form-graphic-blurbs p {
    max-width: 300px;
    margin: 0 auto;
    font-size: 13px !important;
    font-weight: 800;
}
.aviation-form-introduction-section .business-form-graphic-container{max-width:1170px !important;padding-top: 25px;}
.aviation-form-introduction-section .business-form-graphic-container .left-img{width: 100%;float: left; text-align: center; margin-bottom: 15px;min-height: 50px;}
.aviation-form-introduction-section .business-form-graphic-container .right-content{width: 100%;float: left; text-align: center;font-size: 15px !important;}
.aviation-form-introduction-section .business-form-graphic-container .right-content em{font-style: normal;color: #5ed102;}
.aviation-form-introduction-section .business-form-graphic-container .right-content i{font-style: normal;color: #fff;}

.aviation-top-left-img-bx{width:19%; float: left;}
.aviation-top-left-img-bx span{width:180px; height: 180px; line-height: 180px;border-radius: 50%; border:1px solid #ccc; float: left;text-align: center;background: #fff;}
.manufaturing-left-img-mar-top{margin-top: 13%;}
.manufacturing-form-graphic-container{max-width:590px;margin: 0 auto;padding-top: 20px;}
.manufacturing-btm-barcode-box-left{width:20%; float: left;}
.manufacturing-btm-barcode-box-left img{width:87px;}
.manufacturing-btm-barcode-box-right{width:80%; float: left;}
.manufacturing-btm-barcode-box-right p em{font-style: normal;color: #5ed102;}
.manufacturing-btm-barcode-box-right p i{font-style: normal;color: #fff;}
.manufacturing-btm-barcode-box-right p{text-align: left !important;margin-bottom: 20px !important;font-size: 15px !important;}
.manufacturing-btm-barcode-box-right p:last-child{margin-bottom: 0px !important;}

.aviation-top-left-img-bx span img{width:115px;}
.aviation-top-right-img-bx{
  width: 81%;
  float: left;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  position: relative;
}
.aviation-top-right-img-inner-box{width:81%; float: left;padding: 15px 20px;}
.aviation-top-right-img-inner-box p{text-align: justify; padding-bottom: 12px;}
.aviation-top-right-img-inner-box p em{font-style: normal; color:#5ed102;}
.aviation-top-right-img-inner-box h3{text-align: left;font-size: 19px;line-height: 34px;margin-bottom: 0px;color: #333;font-weight: 700;padding-top: 10px;}
.aviation-top-right-img-inner-box:before{top:95px !important;}
.aviation-top-right-img-inner-box:after{top:95px !important;}
.aviation-top-right-img-inner-box ul {
    margin: 0px;
    padding: 0px;
}
.aviation-top-right-img-inner-box ul li {
    list-style: none;
    display: table;
    line-height: 21px;
    color: #333;
    font-size: 17px;
    padding: 8px 0 12px 25px;
    background: url("../images/bullets.png") no-repeat 0px 11px;
    text-align: justify;
}
.aviation-inner-page-btm-p{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  padding-top: 20px;
  margin-bottom: -10px;
}
.aviation-inner-page-btm-p em{font-style: normal; color:#5ed102;}
.aviation-top-right-img-inner-box ul li em{ font-style: normal; color:#5ed102;}
.aviation-top-right-img-inner-h1{margin-top: 68px !important;}

.aviation-top-right-img-bx:after, .aviation-top-right-img-bx:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.aviation-top-right-img-bx:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 35px;
	margin-top: -35px;
}
.aviation-top-right-img-bx:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #ccc;
	border-width: 36px;
	margin-top: -36px;
}

.aviation-top-right-img-bx h2{text-align: left;font-size: 27px;line-height: 34px;margin-bottom: 20px;}
.aviation-top-right-img-bx p{font-size: 17px;color: #333;margin-bottom: 0px !important;}
.aviation-top-right-img-bx p em{color: #5ed102;font-style: normal;}
.healthcare-row-box-img-text{border-bottom:1px solid #ccc; margin-bottom: 20px; padding-bottom: 20px; display: table;}
.healthcare-row-box-img-text .col-md-6{padding: 0px; margin: 0px;}
.healthcare-row-box-img-text p{font-size: 17px;text-align: justify;padding: 11px 0px 0px 0px; margin-bottom: 0px !important; color: #333;}
.healthcare-row-box-img-text img{border-radius: 100px;height: 150px;width: 150px;}
.healthcare-row-box-img-text p em{color: #5ed102;font-style: normal;}
.contact-page-rt-heading{
  font-size: 22px;
  color: #333;
  line-height: 15px;
  font-weight: 500;
  padding-bottom: 8px;
}
.contact-page-rt-p-padi{padding-bottom: 7px !important;}
.contact-page-rt-label-padi{padding-top: 8px !important;}
.request-a-demo-page-bg-color a:before{content:normal;}
.contact-page-rt-textarea{height: 160px !important;}
.faq-readmore-btn-bx{display: table;margin-top: 25px !important;margin: 0 auto; margin-top: 0px;}
.faq-readmore-btn-bx a{border-radius: 0px; padding-left: 30px; padding-right: 30px;}
.faq-readmore-btn-bx a:hover{border-radius: 0px;color: #fff; background: #5ed102;}
.faq-cont-heading{
  width: 1170px;
margin: 0 auto;
    margin-top: 0px;
background: #fff;
display: table;
margin-top: -100px;
padding: 20px 25px 0px 25px;
}
.faq-cont-heading h1{color: #333;}
.faq-tab-section{width:100%; display: inline-block;}

.faq-page-cont-bx{width:100%; float: left;margin-bottom: 0px;border: 1px solid #ccc;border-top: 0px;padding: 25px 15px 15px 15px;}
.faq-page-cont-bx h3{margin-bottom: 10px;font-size: 23px;color: #333;}
.faq-page-cont-bx ul{margin:0px; padding: 0px;}
.faq-page-cont-bx ul li{
	list-style: none;
display: table;
line-height: 21px;
color: #333;
font-size: 17px;
padding: 8px 0 0px 25px;
background: url("../images/bullets.png") no-repeat 0px 11px;
}
.faq-page-cont-bx ul li .faq-content strong{padding-bottom: 8px; font-weight: 700;color: #333;float: left;width: 100%;}
.faq-page-cont-bx ul li .faq-content span{float: left;width:100%;}
.faq-page-cont-bx ul li .faq-content span em{color: #333; font-weight: 700; font-style: normal;float: left;padding-right: 5px;}
.faq-page-cont-bx ul li .faq-content span p{line-height: 25px;}
.about-page-left-img-ceo{padding: 0px !important;border: 0px !important;}
.about-page-left-img-ceo img{border-radius: 50%;}
.about-page-left-img-ceo h3, h4{text-align: center;}
.about-page-right-text-ceo{border-top: 1px solid #ccc !important;padding: 15px 15px 5px 15px !important;}
.about-page-right-text-ceo .aboutus-arrow{position: absolute;top: 173px; left: 1px; z-index: 9; float: left;}

.blogpost-heading{margin-bottom: 15px !important;}
.blog-page-cont-bx{width:100%; float: left;margin-bottom: 20px;}
.blog-page-cont-bx img{width:100%; height: auto;}
.blog-page-cont-bx h3{margin-bottom: 10px;font-size: 21px;color: #15a7d6;font-weight: 700;line-height: 30px;}
.blog-page-cont-bx span{
  font-size: 17px;
  color: #969696;
  padding-bottom: 12px;
  float: left;
  width: 100%;
  font-style: italic;
}
.blog-post-box-bdr{border:1px solid #e4e4e4; width:100%; float: left;padding: 15px 15px 25px 15px; box-sizing: border-box;background: #f9f9f9;min-height: 435px;}
/* .blog-page-cont-bx p{padding-bottom: 0px;} */
.blog-page-cont-bx span em{ color: #15a7d6;}
.blog-page-cont-bx h4{margin: 0px 0 12px 0;padding: 0px;color: #333;font-style: italic; text-align: left;}
.blog-page-cont-bx h4 em{ color: #5ed102;}
.aboutus-name-ceo{padding-top:12px;font-weight: 700;}
.about-page-top-heading-h1{margin-top: 0px !important;}
.casestudy-banner-btm-text{font-size: 19px;line-height: 27px;margin-bottom: 10px;text-align: left;}
.faq-cont-heading h1 em{font-style: normal; color: #5ed102;}
.casestudy-page-img-left-bx{width:18%; float: left;margin-top: 8px;}
.casestudy-page-img-left-bx img{width:175px; height: auto; border-radius: 50%; border: 1px solid #ccc;}
.casestudy-page-img-right-bx{
  width: 82%;
  float: left;
  margin-bottom: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px 15px 25px 15px;
  position: relative;
}
.casestudy-page-img-right-bx h4{
  color: #15a7d6;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 12px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}
.casestudy-arrow{position: absolute;top: 77px; left: -15px; z-index: 9; float: left;}
.casestudy-page-img-right-bx h3 {
    margin-bottom: 12px;
    font-size: 24px;
    color: #15a7d6;
    font-weight: 700;
    line-height: 30px;
}
.casestudy-page-img-right-bx span {
    font-size: 17px;
    color: #969696;
    padding-bottom: 12px;
    float: left;
    width: 100%;
    font-style: italic;
}
.casestudy-page-img-right-bx span em {
    color: #15a7d6;
}

.casestudy-page-h1-top-padi{margin-top: 12px !important;}
.contactmap{width: 100%;float: left;border: 1px solid #bfbfbf;}
.contactmap .map-scn{border: 0px !important;}
.pressroom-h4-btm{width: 100%;float: left;padding-top: 23px !important;margin-bottom: 0px !important; font-style:italic;}
.pressroom-h4-btm em{font-style:italic !important;}

.bradcrum-section{width:100%; float: left;margin-top: -18px;}
.bradcrum-section .center-content{width:1170px; margin: 0 auto;}
.bradcrum-section .center-content ul{margin: 0px; padding: 0px;}
.bradcrum-section .center-content ul li{list-style: none;display: inline-block; height: 12px;padding: 0px 10px; border-left: 1px solid #fff;line-height: 12px;color: #fff; font-size: 14px; font-weight: 600;}
.bradcrum-section .center-content ul li:first-child{border-left: 0px; padding-left: 0px;}
.bradcrum-section .center-content ul li a{color: #fff; font-size: 14px; font-weight: 600;}
.bradcrum-section .center-content ul li a:before{content:normal;}
.bradcrum-section .center-content ul li a:hover{color: #5ed102;}
.press-room-subpage-btm-black-bx{
  background: #333;
padding: 18px !important;
color: #fff !important;
border-radius: 3px;
margin-bottom: 15px;
width: 97.6% !important;
margin-top: 12px !important;
margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
margin-top: 0px;
margin-left: auto;
margin-left: 2.2%;
}
.press-room-subpage-btm-black-bx em{ color: #5ed102 !important;}
.press-room-subpage-bxbtm-mar-none{ margin-bottom: 0px !important}
.press-room-subpage-heading{background: #ededed;padding: 10px 15px;text-shadow: 1px 1px #fff;}
.press-room-subpage-cont-bx-padi{padding: 0px !important;}
.press-room-cont-subpage{padding: 10px 15px 15px 15px;}
.press-room-cont-subpage ul{margin:0px; padding: 0px;}
.press-room-cont-subpage ul li{
	list-style: none;
  display: table;
  line-height: 22px;
  color: #333;
  font-size: 17px;
  padding: 8px 0 12px 25px;
  background: url("../images/bullets.png") no-repeat 0px 11px;
  text-align: justify;
}
.press-room-cont-subpage ul li em{ font-style: normal;color: #5ed102 !important;}
.casestudy-page-sub-h1-top-padi {
    margin-top: 60px !important;
}
.pricing-cross-icon{
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: #cfcfcf;
}
.pricing-cross-icon-darkgray{
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: #666;
}
.pricing-cross-icon-green{
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: #5ed102;
}
.press-room-about-heading-btm{
  background: none !important;
  font-size: 22px !important;
  font-weight: 700;
  padding-bottom: 0px !important;
  color: #15a7d6 !important;
}
.backto-page-link{
  padding-left: 25px;
padding-top: 20px;
float: left;
padding-bottom: 20px;
font-size: 17px;
}
.backto-page-link:hover {color: #5ed102;}
.backto-page-link-casestudies {
    padding-left: 0px;
    padding-top: 20px;
    float: left;
    padding-bottom: 0px;
    font-size: 17px;
}
.backto-page-link-casestudies:hover {color: #5ed102;}
.backto-page-link-blog {
    padding-left: 0px;
    padding-top: 5px;
    float: left;
    padding-bottom: 0px;
    font-size: 17px;
}
.backto-page-link-blog:hover {color: #5ed102;}

.panel-default > .panel-heading a{outline: none; text-decoration: none;}
.panel-default > .panel-heading a:hover{outline: none; text-decoration: none; color: #fff;}
.panel-default > .panel-heading.active {
        background: #5ed102; color: #fff;
}
.panel-default .panel-heading .accordion-toggle:after {
    color: #fff;
}
.blog-post-internal-box-left{width:73%; float: left; margin-right: 2%;}
.blog-post-internal-box-left .blog-internal-page-img{width:100%; float: left; margin-bottom: 20px;}
.blog-post-internal-box-left .blog-internal-page-img img{width:100%; height: auto;}
.blog-post-internal-box-left h2{
  margin-bottom: 12px;
  font-size: 24px;
  color: #15a7d6;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.blog-post-internal-box-left span {
    font-size: 17px;
    color: #969696;
    padding-bottom: 12px;
    float: left;
    width: 100%;
    font-style: italic;
}
.blog-post-internal-box-left span em {
    color: #15a7d6;
}
.blog-post-internal-box-left p {
    font-size: 17px;
    padding-bottom: 15px;
    text-align: justify;
}
.blog-post-internal-box-left ul{margin: 0px 0px 10px 0; padding: 0px;}
.blog-post-internal-box-left ul li{
	list-style: none;
  display: table;
  line-height: 20px;
  font-size: 16px;
  padding: 8px 0 10px 25px;
  background: url("../images/bullets.png") no-repeat 0px 11px;
  text-align: left;
}
.blog-post-internal-box-right{width:25%; float: left;}
.blog-post-internal-box-right-cont{width:100%; float: left; border: 1px solid #e0e0e0; margin-bottom: 15px; padding-bottom: 6px;}
.blog-post-internal-box-right-cont h3{
  font-size: 20px;
  color: #fff;
  margin-bottom: 12px;
  float: left;
  width: 100%;
  padding: 6px 12px;
  background: #15a7d6;
}
.blog-post-internal-box-right-cont ul{margin: 0px 12px; padding: 0px;}
.blog-post-internal-box-right-cont ul li{
	list-style: none;
  display: table;
  line-height: 20px;
  font-size: 16px;
  padding: 8px 0 9px 25px;
  background: url("../images/bullets.png") no-repeat 0px 12px;
  text-align: left;
}
.blog-post-internal-box-right-cont ul li a{color: #15a7d6; outline: none;text-decoration: none;}
.blog-post-internal-box-right-cont ul li a:hover{color: #5ed102;}
.blogpost-pressroom-rt-link{background: none !important;padding-left: 0px !important;}
.blogpost-pressroom-rt-link span{font-style: normal; padding-right: 26px !important;color: #5ed102;}

/* Video Popup CSS Start Here */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-window>div {
  width:70%;
  height: 600px;
  margin:0 auto;
  padding:0px;
  background: #fff;
  color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 99;
  border: 1px solid #454545;
}
.modal-window header {
  font-weight: bold;
}
.modal-close {
  color: #212121;
  line-height: 32px;
  font-size: 16px;
  position: absolute;
  right: -22px;
  text-align: center;
  top: -22px;
  width: 35px;
  text-decoration: none;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #b4b4b4;
  height: 35px;
  font-weight: 700;
  outline: none;
}
.modal-close:before {content: normal;}
.modal-close:hover {
  color: #de1616;border: 1px solid #b4b4b4;outline: none;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.vid {
   width: 100%;
   height: 600px;
   object-fit: cover;
   z-index: -1;
   position: absolute;
   background-color: black;
}
.video-body-popup{overflow: hidden;}
/* Video Popup CSS End Here */
.all-inner-page-btm-form-btn-bx{width:100%;display: table;margin-top: 15px;margin-bottom: 15px;}
.all-inner-page-btm-form-btn-bx a{border-radius: 0px;padding: 13px 36px 15px 36px;color: #fff;font-size: 18px;}
.all-inner-page-btm-form-btn-bx a:hover{color: #fff;background: #5ed102;}
.footer-rt-requestdemo-btn{width:100%; float: left;}
.footer-rt-requestdemo-btn span{width: 100%;float: left;font-size: 17px;padding-top: 20px;}
.footer-rt-requestdemo-btn span em{color: #5ed102;font-style: normal;}
.footer-rt-requestdemo-btn a{
  width: 100%;
  float: left;
  background: none;
  text-align: left;
  height: 38px;
  line-height: 36px;
  border: 0px;
  text-decoration: underline;
  color: #15a7d6;
  margin-top: 0px;
}
.footer-rt-requestdemo-btn a:before{content: normal; background: none;}
.footer-rt-requestdemo-btn a:hover{
  background: none;text-decoration: none;border: 0px;color: #5ed102;
}
#back2Top {
  width: 40px;
line-height: 40px;
overflow: hidden;
z-index: 999;
display: none;
cursor: pointer;
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
position: fixed;
bottom: 20px;
right: 10px;
color: #15a7d6;
text-align: center;
font-size: 39px;
text-decoration: none;
 outline: none;
}
#back2Top:before{content: normal;}
#back2Top:hover {
    color: #5ed102; outline: none;
}

.client-support-bx{border-radius: 3px; border: 1px solid #ddd; width:100%; float: left; min-height: 180px;padding-top: 12px;}
.client-support-bx:hover{border: 1px solid #b0b0b0;-webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s;}
.client-support-bx a{display: table;margin: 20px auto;}
.client-support-bx span{text-align:center;width: 100%;display: table;margin: 0 auto;}
.client-support-bx span a{ margin: 0 auto; font-size: 20px; color: #333;}
.client-support-bx span a:hover{ color: #5ed102;}
.industries-container-padi-0px{padding-left: 0px;padding-right: 0px;}
.whats-for-you-mar{margin-top: 0px;margin-bottom: 0px;}
.plugins-section-box{background: #f3f3f3;}
.plugins-section-box .container{padding-left: 0px; padding-right: 0px;}

/* Home Solutions CSS section start here */
.solutions-home-section-main-bx{width:100%; float: left;background: #fff;}
.solutions-home-section-main-bx .showcase {
	list-style: none;
	padding: 0 0 40px 0px;
	height: 244px;
}
.solutions-home-section-main-bx .showcase li {
	float: left;
	width: 218px;
	height: 244px;
	overflow: hidden;
	margin: 0 0px 0 20px;
}
.solutions-home-section-main-bx .showcase li:first-child {margin-left: 0px;}
.solutions-home-section-main-bx .showcase a {
	display: block;
	width: 285px;
	height: 244px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}
.solutions-home-section-main-bx .showcase a:before{content: normal;}
.solutions-home-section-main-bx .showcase a img {
	width: 400px;
	height: 374px;
	margin: 0 auto;
	position: absolute;
	left: -104px;
	top: -40px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  max-width: inherit;
}
.solutions-home-section-main-bx .showcase a:hover img {
	width: 285px;
	height: 254px;
	left: 0;
	top: -10px;
}
.solutions-home-section-main-bx .showcase a p {
  background: #5ed102;
color: #fff;
font-size: 14px;
padding: 12px 15px;
position: absolute;
bottom: -133px;
line-height: 20px;
display: block;
width: 218px;
cursor: pointer;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
margin-bottom: 0px;
}
.solutions-home-section-main-bx .showcase a:hover p {
	bottom: 0;
	background: #5ed102;
}
.solutions-home-section-main-bx .showcase a h3 {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	background: #5ed102;
	width: 218px;
	padding: 8px 10px;
	position: absolute;
	left:0px;
	bottom:10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  margin-bottom: 0px;
  font-weight: 600;
}
.solutions-home-section-main-bx .showcase a:hover h3 {
	bottom:115px;
	background: #5ed102;
}
.solutions-home-section-main-bx .showcase a h3 i {
	width: 33px;
	height: 26px;
	position: absolute;
	right: -34px;
	top: 0;
	background: #5ed102;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	padding:6px 0 0 0;
}
.solutions-home-section-main-bx .showcase .thumb2 a p, .solutions-home-section-main-bx .showcase .thumb2 a h3 {
	background: #F68B28;
}
.solutions-home-section-main-bx .showcase .thumb2 a:hover p, .solutions-home-section-main-bx .showcase .thumb2 a:hover h3 {
	background: #F16B17;
}
.solutions-home-section-main-bx .showcase .thumb2 a h3 i {
	background: #F68B28;
}
.solutions-home-section-main-bx .showcase .thumb2 a:hover h3 i {
	background: #F16B17;
}
.solutions-home-section-main-bx .showcase .thumb3 a p, .solutions-home-section-main-bx .showcase .thumb3 a h3 {
	background: #15a7d6;
}
.solutions-home-section-main-bx .showcase .thumb3 a:hover p, .solutions-home-section-main-bx .showcase .thumb3 a:hover h3 {
	background: #15a7d6;
}
.solutions-home-section-main-bx .showcase .thumb3 a h3 i {
	background: #0065BB;
}
.solutions-home-section-main-bx .showcase .thumb3 a:hover h3 i {
	background: #0046A2;
}

.solutions-home-section-main-bx .showcase .thumb4 a p, .solutions-home-section-main-bx .showcase .thumb4 a h3 {
	background: #f45859;
}
.solutions-home-section-main-bx .showcase .thumb4 a:hover p, .solutions-home-section-main-bx .showcase .thumb4 a:hover h3 {
	background: #f45859;
}
.solutions-home-section-main-bx .showcase .thumb4 a h3 i {
	background: #f45859;
}
.solutions-home-section-main-bx .showcase .thumb4 a:hover h3 i {
	background: #f45859;
}

.solutions-home-section-main-bx .showcase .thumb5 a p, .solutions-home-section-main-bx .showcase .thumb5 a h3 {
	background: #28d2c8;
}
.solutions-home-section-main-bx .showcase .thumb5 a:hover p, .solutions-home-section-main-bx .showcase .thumb5 a:hover h3 {
	background: #28d2c8;
}
.solutions-home-section-main-bx .showcase .thumb5 a h3 i {
	background: #28d2c8;
}
.solutions-home-section-main-bx .showcase .thumb5 a:hover h3 i {
	background: #28d2c8;
}
/* Home Solutions CSS section end here */



@media only screen and (min-width: 1024px) and (max-width: 1170px) {
.navbar-brand img { max-width: 75%; height: auto;}
.navbar-nav > li > a{font-size: 12px;}
.aviation-content-box{min-height: 690px;}
.services-container-box { width: auto;}
.services-container-box h2{line-height: 38px;}
.software-inner{min-height: 385px;}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-nav > li > a{font-size: 12px;}
  .aviation-content-box{min-height: 690px;}
  .services-container-box { width: auto;}
  .services-container-box h2{line-height: 38px;}
  .software-inner{min-height: 327px;}
  .service-item ul li{height: 158px;}
  .service-item ul li img{width:75%;}
  .services-container-box h2{font-size: 27px;}
  .about-scn h3{font-size: 27px;}
  .software-scn h2{font-size: 27px;}
  .industries-scn h2{font-size: 27px;}
  .client-section-box h2{font-size: 27px;}
  .work-with-perfeqta-section article{min-height: 604px;}
  .inner-page-industries .nav-tabs{width:auto;}
}

.promise-perfeqta-stamp{
  max-width: 123%;
}

.homepage-promise-perfeqta-stamp {
content: none;
}
.homepage-promise-perfeqta-stamp:before {
  content: none;
}
