

.o-container{margin:0 auto;padding:0 12px;max-width:960px}
@media all and (min-width:480px){.o-container{padding:0 24px}}
@media all and (min-width:720px){.o-container{padding:0 48px}}
.o-header{margin:0;padding:0}
.o-header-nav{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;background-color:#dc446e}
.o-header-nav__link{padding:12px;color:#fff}
.o-header-nav__link:hover{color:#fff;background-color:#9d1d41}
.o-header__title{margin:24px;padding:0;color:#818181;font-size:28px;font-weight:300;text-align:center}
@media all and (min-width:480px){.o-header__title{margin:36px;font-size:42px}}
.o-section{margin-bottom:24px}
.o-section:last-child{margin-bottom:0}
@media all and (min-width:720px){.o-section{margin-bottom:48px}}
.o-sub-nav{margin:0;padding:0}
.o-sub-nav__items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;list-style:none;margin:0;padding:0}
.o-sub-nav__item{margin:0;padding:4px}
.o-sub-nav__link{display:block;margin:0;padding:4px 24px;border:2px solid #dc446e}
.o-sub-nav__item.active .o-sub-nav__link,.o-sub-nav__link:hover{color:#fff;background-color:#dc446e}
.o-footer{padding:12px 0;text-align:center}
@media all and (min-width:480px){.o-footer{padding:24px 0}}
@media all and (min-width:720px){.o-footer{padding:48px 0}}
.c-tabs-nav{list-style:none;margin:0 auto; position:relative; top:120px; padding:0;width:1170px;}
.c-tabs-nav__link{ float:left;
	margin-right: 2%;
	padding: 12px;
	color: #272727;
	background-color: #fff;
	text-align: center;
	-webkit-transition: color .3s;
	transition: color .3s;
	border-radius: 100px; width:23%;
}
.c-tabs-nav__link:last-child{margin-right:0}
.c-tabs-nav__link:hover{color:#5ed102}
.c-tabs-nav__link:focus{border: none; outline: none;}
.c-tabs-nav__link:before { content: normal;}
.c-tabs-nav__link.is-active{color:#fff;background-color:#5ed102;border: none; outline: none;text-decoration: none !important;}
.c-tabs-nav__link i,.c-tabs-nav__link span{margin:0;padding:0;line-height:1}
.c-tabs-nav__link i{font-size:17px}
.c-tabs-nav__link span{display:none;font-size:18px}
@media all and (min-width:720px){.c-tabs-nav__link i{margin-bottom:0px;font-size:17px}
.c-tabs-nav__link span{display: inline-block;padding-left: 6px;}}
.c-tab{display:none;background-color:#e7e7e7;height: 470px; padding-top: 200px;}
.c-tab.is-active{display:block}
.c-tab__content{padding: 0px 0 0px 0;text-align: center;width: 1170px;margin: 0 auto;}
.c-tab__content h2{font-size:30px; color: #5ed102;}
.c-tab__content p{color:#333;font-size: 17px;margin-bottom: 19px;}
.c-tab__content p em{color: #5ed102;font-style: normal; font-weight: 600;}
.c-tabs.no-js .c-tabs-nav{display:none}
.c-tabs.no-js .c-tab{display:block;margin-bottom:1.5rem}
.c-tabs.no-js .c-tab:last-child{margin-bottom:0}
.carbon-img,.carbon-wrap{margin:0 0 4px;display:block}#carbonads{position:fixed;bottom:12px;right:12px;z-index:1000;padding:24px 12px 12px;width:154px;background-color:#fff;line-height:1.1;border:1px solid #e7e7e7}
.carbon-img{padding:0;width:130px;height:100px}
.carbon-text{color:#818181;font-size:12px}
.carbon-poweredby{font-size:10px}
.carbonad__close{display:block;position:absolute;top:0;left:12px;height:24px;font-size:11px;line-height:24px}
@media all and (max-width:660px){#carbonads{display:none}}


@media only screen and (min-width: 1024px) and (max-width: 1170px) {
	.c-tabs-nav{width: auto;}
	.c-tabs-nav__link{margin-left: 3%;width: 21%;margin-right: 0px;}
	.c-tab__content{width: 90%;}
	.c-tab h3{margin-bottom: 9px;}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.c-tabs-nav{width: auto;}
	.c-tabs-nav__link{margin-left: 2.3%;width: 22%;margin-right: 0px;}
	.c-tab__content{width: 90%;}
	.c-tab h3{margin-bottom: 9px;}
	.c-tab{height: 525px;}

}
